:root{
    --saffron: #ff6a3b;
    --blue: #0e50aa;
    --basic-font-size: 16px;
    --h2-font-size: 36px;
    --footer-link-font-size: 18px;
    --achivement-heasing-fontsize: 24px;
}
*{
    box-sizing: border-box;
    font-size: var(--basic-font-size);
}
body{
    margin: 0;
    padding: 0;
}
.container{
    width: 80%;
    margin: auto;
    display: flex;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
h2{
    font-size: var(--h2-font-size);
    width: fit-content;
    margin: auto;
}
h4:not(.courses-footer h4,.usefullinks h4, .terms h4){
    font-size: var(--achivement-heasing-fontsize);
    width: fit-content;
    margin: auto;
}
.fa{
    margin-right: 10px;
}
header, .hero, .testimonials{
    margin-bottom: 80px;
}
.courses,.achivements{
    margin-bottom: 40px;
}
header .container{
    justify-content: space-between;
    align-items: center;
}
header nav ul{
    display: flex;
    gap: 20px;
}
header nav ul li a:not(.buttons){
    padding-bottom: 5px;
    transition: all 0.5s;
}
header nav ul li a:not(.buttons):hover{
    border-bottom: 3px solid var(--blue);
}
.logo img{
    height: 83px;
    width: 138px;
}
.hero .container{
    gap: 50px;
}
.hero .container > div{
width: 50%;
}

.hero .text h1{
    color: var(--blue);
    font-size: 64px;
    font-weight: 700;
    position: relative;
}
.hero .text h1::before{
    position: absolute;
    content: "Are you ready?";
    top: -30px;
    font-size: 14px;
    color: var(--saffron);
}
.hero .container > div img{
    width: 90%;
    margin: auto;
    margin-right: 80px;
    }
.courses h2,
.achivements h2,
.testimonials h2{
    color: var(--blue);
}
.hero .text h1 span{
    color: var(--saffron);
    font-size: 64px
}
.courses h2 span, .achivements h2 span{
    color: var(--saffron);
    font-size: var(--h2-font-size);
}
.hero .text p{
    width: 80%;
}
.course{
    display: flex;
    box-shadow: 2px 2px 4px rgb(211, 211, 211);
    flex-direction: column;
    align-items: center;
}
.course{
    padding: 10px;
}
.course > div{
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.course img, .achivement img{
    width: 80%;
    margin: auto;
}
.testimonials .container{
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.testimonials img{
    height: 120px;
    width: 120px;
}
.testimonials q{
    width: 80%;
    padding: 0 200px;
    margin: auto;
    font-weight: 500;
    font-style: italic;
}
.achivements .container, .courses .container{
    justify-content: space-between;
    padding-bottom: 20px;
    gap: 15px;
}
h2{
    margin-bottom: 30px;
}
.achivement{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: stretch;
    width: 25%;
    padding: 20px 0;
    background-color: rgb(253, 216, 168);
    box-shadow: 2px 2px 3px rgb(228 228 228);
    transition: all 0.5s;
}
.achivement:hover{
    background-color: #fff;
    box-shadow: 2px 2px 3px 3px rgb(228 228 228);
}

.achivement img{
    height: 80px;
    width: 70px;
    margin-bottom: 20px;
}
.achivement h4{
    margin-bottom: 15px;
    font-size: 24px;
}
.achivement p{
    margin-top: 0;
    margin-bottom: 0;
}
footer{
    padding-top: 20px;
    padding-bottom: 10px;
}


.copy-right p{
    text-align: center;
}
footer{
    background-color: var(--blue);
}
footer .container{
    gap: 15px;
    align-items: stretch;
}
.logo-footer img{
    height: 134px;
    width: 202px;
}
footer .container > div{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
footer .container > div h4{
    text-align: start;
    width: fit-content;
    margin-left: 38px;
    margin-bottom: 0;
}

footer, footer a{
    color: #fff
}
.buttons{
    background-color: var(--saffron);
    color: #fff;
    padding: 3px 15px;
    border: 1px solid transparent;
    border-radius: 20px;
    text-transform: capitalize;
    transition: all 0.5s;
}
.buttons:hover{
    background-color: #fb4108;
}
.nav-button,
.hero-button{
    padding: 6px 15px;
}
footer .courses-footer, footer .terms, footer .usefullinks, footer .logo-footer{
    height: 230px;
    align-self: flex-start;
}
.courses-footer ul li,
.terms ul li,
.usefullinks ul li{
    margin-bottom: 10px;
}
@media (max-width: 1337px){
    .testimonials q{
        width: 90%;
        padding: 0 220px;
     
    }
}
@media (max-width: 1243px){
    .testimonials q{
        width: 90%;
        padding: 0 190px;
     
    }
}
@media (max-width: 1160px){
    .testimonials q{
        width: 90%;
        padding: 0 160px;
     
    }
}
@media (max-width: 1076px){
    .testimonials q{
        width: 90%;
        padding: 0 130px;
     
    }
}
@media (max-width:1025px){
    .hero .text h1,
   .hero .text h1 span{
       font-size: 48px;
    }
    .testimonials q{width: 90%;
    padding: 0 110px;
}
}
@media (max-width: 937px) and (min-width: 837px){
    .testimonials q{
    width: 92%;
    padding: 0 70px;
}
}
  
 
@media (max-width:838px){
   .hero .text h1,
   .hero .text h1 span{
       font-size: 42px;
    }

    .courses .container{
        flex-direction: column;
        width: 60%;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
    }
    .course > div{
        width: 70%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
   .course > div p:last-child{
       margin: 0;
   }

   .achivements .container{
    padding: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;
}
.achivements .achivement{
    width: 48%;
    margin-bottom: 20px;
}

   .courses h2,
   .courses h2 span,
   .achivements h2,
   .achivements h2 span,
   .testimonials h2{
        font-size: 32px;
   }
   h4:not(.courses-footer h4,.usefullinks h4, .terms h4){
    font-size: 18px;
    }
    .testimonials q{
        width: 90%;
        padding: 0 50px;
        
    }

    footer .container{
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: flex-end;
        padding-left: 80px;
    }
    footer .container > div{
        width: 45%;
        margin-bottom: 20px;
    }
    footer .container > div p,
    footer .container > div a{
        font-size: 1.4rem;
    }
    footer .container > div h4{
        font-size: 1.5rem;
        font-weight: 700;
        margin-top: 0;
        margin-bottom: 5px;
    }

    .logo-footer{
        padding-bottom: 20px;
    }
    
}
@media (max-width:779px){

    header .container {
        justify-content: center;
        align-items: center;
    }
    .courses .container{
        flex-direction: column;
        width: 60%;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
    }
    .course > div{
        width: 65%;
        flex-direction: row;
        justify-content: space-between;
    }
    .courses h3{
        font-size: 20px;
    }
    .courses h2, .courses h2 span, .achivements h2, .achivements h2 span, .testimonials h2 {
        font-size: 24px;
    }
    .achivements .container{
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: flex-end;
    }
    .achivements .achivement{
        width: 46%;
        margin-bottom: 30px;
    }
    .testimonials q{
        width: 90%;
        padding: 0 15px;
       
    }
    footer .container{
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: flex-end;
        padding-left: 80px;
    }
    footer .container > div{
        width: 45%;
    }
    footer .container > div p,
    footer .container > div a{
        font-size: 1.1rem;
    }
    footer .container > div h4{
        font-size: 1.4rem;
    }
}
@media (max-width:692px){
    header .container{
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    header nav ul{
        display: flex;
        gap: 10px;
    }
    header nav ul li a{
        font-size: .9rem;
    }

    footer .container{
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: flex-end;
        /* padding-left: 80px; */
    }
    footer .container > div{
        width: 45%;
        margin-bottom: 20px;
    }
    footer .container > div p,
    footer .container > div a{
        font-size: 1.1rem;
    }
    footer .container > div h4{
        font-size: 1.4rem;
    }

}
@media (max-width: 674px){
    .testimonials q{
        width: 97%;
        padding: 0 5px;
    
    }
}
@media (max-width: 633px){
    header .container{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .hero .container .text{
        width: 55%
    }
    .hero .container .text h1,
    .hero .container .text h1 span{
        font-size: 38px;
    }
    .hero .container .image{
        width: 45%
    }
    .hero .container .image img{
        width: 100%;
    }
    footer .container{
        flex-direction: column;
        align-items: center;
    }
    footer .container > div{
        text-align: center;
        width: 50%;
        margin: auto;
        margin-right: 30%;
    }
}
@media (max-width: 481px){
    header .container{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .hero .container{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .hero .container .text,
    .hero .container .image{
        width: 100%;
    }
    .hero .container .text h1{
        padding: 0 90px 0 0;
    }
    .hero .container .text h1,
    .hero .container .text h1 span{
        font-size: 36px;
    }
    .courses .container{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .achivements .container{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    footer .container{
        flex-direction: column;
        align-items: center;
    }
    footer .container > div{
        text-align: center;
        width: 50%;
        margin: auto;
        margin-right: 30%;
    }
    .course > div{
        width: 90%;
        flex-direction: row;
        justify-content: space-between;
    }
    .achivements .container{
        padding: 10px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .achivements .achivement{
        width: 80%;
    }
    footer .container{
        flex-direction: column;
        align-items: center;
    }
    footer .container > div{
        text-align: center;
        width: 90%;
    }
}